*{
	font-family: Georgia;
	font-size: 100%;
	margin: 0;
	background-color: white;
}
p{
	text-align: left;
	margin-bottom: 1em;
	font-size: 150%;
}
#header{
	background-color: #3C3B3F;
	padding: 2em;
}
#container{
	width: 100%;
	position: relative;
}
#nav{
	float: left;
	position: absolute;
	background-color: white;
	width: 20%;
	height: 100%;
}
#main{
	float: right;
	width: 80%;
}

#footer{
	clear: both;
	padding: 1.2em;
	background-color : #3C3B3F;
}

.article{
	background-color: white;
	padding: 1em 0 1em 0;
	margin: 1em 1.2em 0.5em 1.2em;
	font-family: sans-serif;

}

.headerTitle{

	border-bottom: .1em solid;
	border-bottom-color: #3E433E;
	margin: 0 0 0.6em 0;
}

.articleTitle{
	line-height: 1.2;
	font-family: Helvetica;
	color: #614E5A;
	font-weight: bold;
	font-size: 300%;
}

.timeTitle{
	color: #AAB6AA;
	font-family: Helvetica;
	font-size: 120%;
	font-weight: bold;
}

.footerArticle{
	text-align: left;
	padding: 0.4em;
}

.ht{
	color: #0084B4;
	font-size: 180%;
	font-weight: normal;
}

.comment{
	padding: 0.4em;
	font-family: Lato;
	font-size: 120%;
	color: #273B47;
	text-align: right;
}

.commentTime{
	color: gray;
	font-size: 100%;
	font-weight: 400;
}

.commentInput{
	width: 95%;
	font-family: sans-serif;
	padding: 1em 0 1em 0.9em;
	color: #8C8986;
	background-color: white;
	border-color: #8C8986;
}

.commentButton{
	font-size: 180%;
	font-family: Roboto;
	padding: 0 0.8em;
	font-weight: 500;
	color: white;
	background-color : #3C3B3F;
	border-color: #303030;
	margin-top: 0.4em;
	display: inline-block;
}
